<!DOCTYPE html>
<html>
<head>
    <title>Pipeline Buster</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="static/styles/fonts.css">
</head>
<body style="margin:0px;padding:0px;overflow:hidden;background-color:#21252B">

    <div id="pannel"></div>
    <div id="code-input"></div>

    {% if debug %}
      <script type="text/javascript" src="http://localhost:8090/assets/vendors.js"></script>
      <script type="text/javascript" src="http://localhost:8090/assets/app.js"></script>
    {% else %}
      <script type="text/javascript" src="/static/build/vendors.js"></script>
      <script type="text/javascript" src="/static/build/app.js"></script>
    {% endif %}
    <script type="text/javascript" src="static/scripts/main.js" ></script>
</body>
</html>
